<ion-view view-title="List">
    <ion-content>
        <div class="bar bar-header item-input-inset bar-positive">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input id="search" type="search" placeholder="Club/course name" ng-model="searchOptions.name">
            </label>
            <button class="button button-icon icon ion-settings" ng-click="openModal()"></button>
        </div>

        <div collection-repeat="data in datas | filter : searchOptions"
             item-width="100%" 
             item-height="200px"
             ui-sref="main.listDetail({ id: data.id })"
             class="golfs"
             >
            <div class="golfcards" style="background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url({{data.img}}) ;">
                <h1>{{data.name}}</h1>
            </div>
        </div>

    </ion-content>
</ion-view>