<div collection-repeat="data in datas | filter : searchOptions"
     collection-item-width="'100%'"
     collection-item-height="getItemHeight(datas, $index)"
     ng-style="{height: getItemHeight(datas, $index)}" >
    <div class="item item-divider" ng-if="(getItemHeight(datas, $index)) == 90">
        {{data.date_begin| date:'yyyy-MM-dd'}}
    </div>
    <div class="item" ui-sref="main.clubFindersListDetail({ id: data.id })" >
        <h2>{{data.title}}
            <span class="item-note">
                {{data.date_begin| date:'HH:MM'}}
            </span>
        </h2>
    </div>
</div>