<ion-view view-title="{{data.name}}">
    <ion-content>
        <div class="golfimg" style="background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url({{data.img}}) ;"></div>
        <div class="button-bar bar-dark">
            <button class="button icon ion-information-circled active" ng-click="info = false; offer = false; competition = false;" ng-class="{active: !info}"></button>
            <button class="button icon ion-bag" ng-click="info = true; offer = true; competition = false;" ng-class="{active: offer}"></button>
            <button class="button ion-ribbon-a" ng-click="info = true; offer = false; competition = true;" ng-class="{active: competition}"></button>
        </div>
        <div ng-hide="info" class="padding">
            <p>
                Par: {{data.par}}<br/>
                SSS: {{data.sss}}<br/>
                Number of holes: {{data.holes}}<br/>
                Yards: {{data.yards}}<br/>
            </p>
            <p>
                <span class="ion-iphone"></span> {{data.phone}}<br/>
                <span class="ion-ios-location-outline"></span> {{data.address}}
            </p>
        </div>
        <div ng-show="offer" class="padding offer">
            <ul ng-repeat="offer in data.offers">
            <li>{{offer}}</li>
            </ul>
        </div>
        <div ng-show="competition" class="padding competition">
            <ul ng-repeat="competition in data.competitions">
            <li>{{competition.name}}, {{competition.start}} - {{competition.end}}, {{competition.fee}}</li>
            </ul>
        </div>

    </ion-content>
</ion-view>
