<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 id="searchtitle" class="title">Search Options</h1>
    </ion-header-bar>

    <ion-content>
        <form name="optionsform">
            <label class = "item item-input item-select">
                <div class = "input-label">
                    Region
                </div>
                <select id="regions" ng-model="$parent.searchOptions.region">
                    <option value="">Select an region</option>
                    <option value="66">Angus</option>
                    <option value="65">Argyll &amp; Bute</option>
                    <option value="67">Ayrshire</option>
                    <option value="68">Borders</option>
                    <option value="69">Clackmannanshire</option>
                    <option value="70">Dumbartonshire</option>
                    <option value="71">Fife</option>
                    <option value="72">Glasgow</option>
                    <option value="73">Lanarkshire</option>
                    <option value="74">Lothians</option>
                    <option value="76">North</option>
                    <option value="75">North East</option>
                    <option value="77">Perth &amp; Kinross</option>
                    <option value="78">Renfrewshire</option>
                    <option value="79">South</option>
                    <option value="80">Stirlingshire</option>
                </select>
            </label>
            <label class = "item item-input item-select">
                <div class = "input-label">
                    Category
                </div>
                <select id="categories" ng-model="$parent.searchOptions.category">
                    <option value="">All Categories</option>
                    <option value="68">Gents</option>
                    <option value="69">Gents Seniors</option>
                    <option value="70">Ladies</option>
                    <option value="71">Ladies Seniors</option>
                    <option value="72">Mixed</option>
                    <option value="73">Junior</option>
                </select>
            </label>

            <button id="close" class="button button-block button-positive" ng-click="closeModal()">Close</button>
        </form>

    </ion-content>

</ion-modal-view>